<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <!--{{ chat_messages }}-->
    {% for message in chat_messages%}
    {#<span>({{ message["timestamp"] }}) {{ message["from"].title() }} - {{message["message"]}}</span><br>#}
    <span>{{ message }}</span><br>
    {% endfor %}
    
    <!-- long polling -->
    <script>
        // Reload the page every 5 seconds
        setTimeout(function() {
            location.reload();
        }, 5000);
    </script>
</body>
</html>